@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Index";
}

<main class="vlt-main">
    
    <section>
        <div class="container">
            <h3 class="text-center" style="color:#000;">
                Список поль<span>зова</span>телей
            </h3>
            <hr />
            <div>
                <a class="text-info" asp-controller="Home" asp-action="Menu">Меню</a>/
                <a class="text-primary" asp-action="Index" asp-controller="User">Пользователи</a>
            </div>
            <hr />
            @if (User.Claims.Count(c => c.Value == "Администратор") > 0)
            {
                <a class="btn btn-success" asp-controller="User" asp-action="Create">Добавить</a>
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Логин</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Фамилия</th>
                        <th>Email</th>
                        <th>Телефон</th>
                        <th>Вкл. функция блокировки</th>
                        <th>Тип пользователя</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.User.Id</td>
                            <td>@user.User.UserName</td>
                            <td>@user.User.FirstName</td>
                            <td>@user.User.MiddleName</td>
                            <td>@user.User.LastName</td>
                            <td>@user.User.Email</td>
                            <td>@user.User.PhoneNumber</td>
                            <td>@user.User.LockoutEnabled</td>
                            <td>
                                @foreach (var role in user.Roles)
                                {
                                    <span>@role</span>
                                    <br />
                                }
                            </td>
                            @if (User.Claims.Count(c => c.Value == "Администратор") > 0)
                            {
                                <td>
                                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.User.Id"><i class="fa fa-edit"></i></a><br/>
                                    <a href="@Url.Action("Delete", "User", new { id = user.User.Id })"><i class="fa fa-remove"></i></a>
                                </td>
                            }
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>