@model ContactListModel
@{
    ViewData["Title"] = "Index";
}

<main class="vlt-main">

    <section>
        <div class="container">
            <h3 class="text-center" style="color:#000;">
                Кон<span>так</span>ты @Model.Name
            </h3>
            <hr />
            <div>
                <a class="text-info" asp-controller="Home" asp-action="Menu">Меню</a>/
                <a class="text-primary" asp-action="Index" asp-controller="University">Образовательные организации</a> /
                <a class="text-info" asp-action="Index" asp-controller="Contact" asp-route-id="@Model.Id">Контакты</a>
            </div>
            <hr />
            <a class="btn btn-success" asp-controller="Contact" asp-action="Create" asp-route-id="@Model.Id">Добавить</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Контакт</th>
                        <th>Тип контакта</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model.Contacts)
                    {
                        <tr>
                            <td>@contact.Value</td>
                            <td>@Model.TypeContacts.FirstOrDefault(c=> c.Id == contact.TypeContactId)!.Name</td>
                            <td>
                                <a href="@Url.Action("Delete", "Contact", new { id = contact.Id })"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>

